<%=render 'nav'%>
   <div class="container">
           
            <div class="row">
                  <div class="col-md-3 col-5 hidden-sm-down">
                     <div class="question_hk justify-content-center align-items-center mb-4">
                         <h2 class="title_review jua text_white_hk">특 강 요 청</h2>
                     </div>
                   </div>
                   <div class="col-md-9 col-12">
                      <div class="hidden-sm-down qna_intro d-flex flex-column justify-content-center pr-4 text-right">
                          <div class="p-1">개설 된 스터디 중, 내가 듣고 싶은 스터디가 없다면</div>
                          <div class="p-1">자신에게 필요한 스터디를 신청해주세요  :코인</div>
                      </div>
                   </div>  
          
 
            </div>
     <hr style="border: solid 1px #D5D5D5;">  
    
    <div class="row">
        <div class="col-md-3 col-6">
           <%= link_to "/suggests/new" do %> <%= image_tag("study_suggest_btn.png", :class=>"review_write") %> <% end %>
        </div>
        
        <div class="col-md-9">
          
           <div class="justify-content-center">
                    <table class = "table table-hover">
                        <tr>
                        <th class="active jua"><h2>신 청 목 록</h2></th>
                        <th class="active"></th>
                        </tr>
                        
                         <% @suggests.each do |suggest| %>
                        <tr>
                        <td class="table_hk">
                            
                                <%= link_to "/suggests/#{suggest.id}", class: "review_table_hk" do%><%= suggest.title %><%end%>   
                          
                        </td>
                        <td class="table_hk text-right">
                            <%= suggest.suggest_user %>
                          
                        </td>
                        <!--<td>-->
                        <!--   <#%= review.created_at.split(' ').first %>-->
                        <!--</td>-->
                        </tr>
                        <% end %>
                        </table>
                    </div>
                  <%= will_paginate @suggests %>    
        </div>
        
    </div>
        
  
       
</div> <!-- 컨테이너 디브 -->
