  <div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5 col-10 bg-info sign_y">
              <div class="row justify-content-center align-items-center mt-5">
                      <div class="col-md-4 col-6"><%= image_tag("coin_d.png", :class=>"review_write") %> </div>
              </div>       
             
             
                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                 <%= f.error_notification %>
                  <div class="form-inputs align-items-center">
                      <div class="row justify-content-center align-items-center">
                          <div class="col-12"><p class="sign_title">WELCOME TO COIN</p></div>
                          <div class="col-12"><p><%= f.input :email, required: true, autofocus: true , :label => "메일 주소" ,  :placeholder => "이메일을 입력해주세요. 메일 주소는 아이디로 사용됩니다." %></p></div>
                      </div>
                      <div class="form-inputs">
                        <div class="row justify-content-center align-items-center">
                          <div class="col-12"><p><%= f.input :password, required: true, :label => "비밀번호",:placeholder => "비밀번호를 입력해주세요. (#{@minimum_password_length} 자리 이상 입력해주세요)"  %></p></div>
                        </div>
                     </div>
                     <div class="form-inputs">
                        <div class="row justify-content-center align-items-center">
                          <div class="col-12"><p><%= f.input :password_confirmation, required: true , :label => "비밀번호 확인",:placeholder => "비밀번호를 한번 더 입력해주세요."%></p></div>
                        </div>
                     </div>
                     <div class="form-inputs">
                        <div class="row justify-content-center align-items-center">
                          <div class="col-12"><p><%= f.input :nickname, required: true, autofocus: true, :label => "닉네임",:placeholder => "코인에서 사용할 닉네임을 입력해주세요." %></p></div>
                        </div>
                     </div>
                     <div class="form-inputs">
                        <div class="row justify-content-center align-items-center">
                          <div class="col-12"><p><%= f.input  :name, required: true, autofocus: true, :label => "이름 ex)홍길동",:placeholder => "이름을 입력해주세요." %></p></div>
                        </div>
                     </div>
                     <div class="form-inputs">
                        <div class="row justify-content-center align-items-center">
                          <div class="col-12"><p><%= f.input :birthday, required: true, autofocus: true, :label =>  "생년월일 ex)950321",:placeholder => "생년월일을 입력해주세요. (ex:950321)" %></p></div>
                        </div>
                     </div>
                     <div class="form-inputs">
                        <div class="row justify-content-center align-items-center">
                          <div class="col-12"><p><%= f.input :phone, required: true, autofocus: true, :label => "핸드폰 번호 ex)01012345678",:placeholder => "핸드폰 번호를 입력해주세요. (ex:01012345678)" %></p></div>
                        </div>
                     </div>
                     <div class="form-inputs">
                        <div class="row justify-content-center align-items-center">
                          <div class="col-12"><p><%= f.input :part, required: true, autofocus: true, :label => "소속 ex)고려대학교",:placeholder => "소속을 입력해주세요. (ex:고려대학교)" %></p></div>
                        </div>
                     </div>
                    <div class="form-actions">
                      <div class="row justify-content-center align-items-center">
                        <div class="col-12"><div> <%= f.button :submit, "가입하기" %></div></div>
                      </div>
                    </div> 
     
                  </div>
              <% end %>
  
           <%#= render "devise/shared/links" %>
        </div>
    </div>
</div>    
    