<style>
.qna_intro{
  height: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),  url(<%= asset_path 'qna_intro.png' %>);
  background-size: cover;
  *{
    color: rgba(213,213,213,0.8);
    font-size: 1.1em;
  }
}

</style>


<div class="container">
    <div class="row">
          <div class="col-md-3 col-12">
            <%= render 'subnav' %>
          </div>
          <div class="col-md-9 col-12">
            <div class="hidden-sm-down qna_intro d-flex flex-column justify-content-center pr-4 text-right">
                <div class="p-1">코딩을 하다 막히는 점이 있을 때, 검색을 해도 영어로 된 설명에 머리 아플 때</div>
                <div class="p-1">쉽고 편하게 질문해보세요  :코인</div>
            </div>
            <hr style="border: solid 1.5px #D5D5D5;">
                <div class="row px-5">
                   <!--질문 목록-->
                        <div class="list col-12 px-0">
                                <script type="text/javascript">SyntaxHighlighter.all()</script>
                                <div class="qna_box_hk">
                                
                                <% @qnas.each do |qna| %>
                               
                                <div class="row">
                                    <div class="col-md-10 col-8 qna_title_btn_hk"><%= link_to "/qnas/show/#{qna.id}", class:"qna_title" do %><%= qna.title %><%end%></div>
                                    <div class="col-md-2 col-3 text-uppercase qna_category_hk"><strong><%= qna.category %></strong></div>
                                </div>    
                                <hr>
                                
                                
                                <div class="row qna_content_box_hk">
                                    
                                    
                                    <% if qna.choice != NIL %>
                                        <div class="qna_check_hk col-md-10 col-9">
                                            <span class=" text-info"><span class="glyphicon glyphicon-user"></span> <%= qna.qna_user %>의 질문</span>
                                        </div>
                                        <div class="col-1 push-1">
                                            <span class="glyphicon glyphicon-bookmark text-danger choice_icon"></span>
                                        </div>
                                        <div class="qna_no_check_hk col-12 mt-4">
                                            <p class="content_hk col-10">
                                            <%= qna.content %></br>
                                            <% if qna.category=='C/C++' or qna.category=='c/c++' %> <pre class="brush: cpp"><%= qna.code_content %></pre></br>
                                            <% elsif qna.category=='PYTHON' or qna.category=='Python'  or qna.category=='python' %><pre class="brush: py"><%= qna.code_content %></pre></br>
                                            <% elsif qna.category=='Java' or qna.category=='JAVA'or qna.category=='java' %> <pre class="brush: java"><%= qna.code_content %></pre></br>
                                            <% elsif qna.category=='Scratch/Entry' or qna.category=='SCRATCH/ENTRY' %> <pre class="brush: cpp"><%= qna.code_content %></pre></br>
                                            <% elsif qna.category=='Html/Css' or qna.category=='HTML/CSS' or qna.category=='html/css' %> <pre class="brush: css"><%= qna.code_content %></pre></br>
                                            <% elsif qna.category=='etc' or qna.category=='ETC' %> <pre class="brush: cpp"><%= qna.code_content %></pre></br>
                                            <%end%>
                                            <% if current_user %> <%if qna.user_id == current_user.id %> <%= link_to  "/qnas/edit/#{qna.id}",class: "edit_hs" do %><%end%><%end%><%end%>
                                            <% if current_user %> <%if qna.user_id == current_user.id %> <%= link_to "/qnas/destroy/#{qna.id}",class: "delete_hs", data: { confirm: "삭제합니까?" } do %><%end%><%end%></br><%end%>
                                            </p>
                                        </div>
                                    <% else %>
                                        <div class="qna_no_check_hk col-md-12 col-12">
                                            <span class="text-info"><span class="glyphicon glyphicon-user"></span> <%= qna.qna_user %>의 질문</span>
                                        </div>
                                        <div class="qna_no_check_hk col-12 mt-4">
                                            <p class="content_hk col-10">
                                            <%= qna.content %></br>
                                            
                                             <% if qna.category=='C/C++' or qna.category=='c/c++' %> <pre class="brush: cpp"><%= qna.code_content %></pre></br>
                                            <% elsif qna.category=='PYTHON' or qna.category=='Python'  or qna.category=='python' %><pre class="brush: py"><%= qna.code_content %></pre></br>
                                            <% elsif qna.category=='Java' or qna.category=='JAVA'or qna.category=='java' %> <pre class="brush: java"><%= qna.code_content %></pre></br>
                                            <% elsif qna.category=='Scratch/Entry' or qna.category=='SCRATCH/ENTRY' %> <pre class="brush: cpp"><%= qna.code_content %></pre></br>
                                            <% elsif qna.category=='Html/Css' or qna.category=='HTML/CSS' or qna.category=='html/css' %> <pre class="brush: css"><%= qna.code_content %></pre></br>
                                            <% elsif qna.category=='etc' or qna.category=='ETC' %> <pre class="brush: cpp"><%= qna.code_content %></pre></br>
                                            <%end%>
                                            <% if current_user %> <%if qna.user_id == current_user.id %> <%= link_to "/qnas/edit/#{qna.id}", class: "edit_hs" do %><%end%><%end%><%end%>
                                            <% if current_user %> <%if qna.user_id == current_user.id %> <%= link_to "/qnas/destroy/#{qna.id}",class: "delete_hs", data: { confirm: "삭제합니까?" } do %><%end%><%end%></br><%end%>
                                            </p>
                                        </div>
                                        
                                    <%end%>    
                                    
                                    
                                </div>    
                                <% end %>
                                </div>
                            </div>
                        </div>
                    <%= will_paginate @qnas %>
                </div>
                </div> <!--col-9-->
            </div>  <!--row-->
        
