<%=render 'nav'%>

<div class="container">
    <div class="qna_form center_hs">
    
  <h2 class="jua offline_apply_hs center_hs">수정하기</h2>
 

   <%= form_for @qna, url: "/qnas/#{@qna.id}" , method: :patch do |f| %>
  
   <p class="offline_form">
        <%= f.label :category,"카테고리", class: "control-label"  %>
        <div class="flex_hyo9 col-md-6 push-md-3 col-sm-12 mb-3">
        
        <div>    
        <% if(@qna.category=="c/c++")   %>
        <%= f.label :category, "C/C++", class: 'radio_hs' %> <%= f.radio_button :category, 'C/C++', :checked => true %>
          <% else %>
         <%= f.label :category, "C/C++", class: 'radio_hs' %> <%= f.radio_button :category, 'C/C++'%>
          <% end %>
        </div>
        
        <div>
         <% if(@qna.category=="python")   %>
        <%= f.label :category, "PYTHON", class: 'radio_hs' %> <%= f.radio_button :category, 'PYTHON', :checked => true %>
          <% else %>
        <%= f.label :category, "PYTHON", class: 'radio_hs' %> <%= f.radio_button :category, 'PYTHON' %>
          <% end %>
        </div>
        
        <div>
        <% if(@qna.category=="java")   %>
        <%= f.label :category, "Java", class: 'radio_hs' %> <%= f.radio_button :category, 'Java', :checked => true %>
          <% else %>
        <%= f.label :category, "Java", class: 'radio_hs' %> <%= f.radio_button :category, 'Java' %>
          <% end %>
        </div>
        
        
        <div>
         <% if(@qna.category=="scratch/entry")   %>
        <%= f.label :category, "Scratch/Entry", class: 'radio_hs' %> <%= f.radio_button :category, 'Scratch/Entry', :checked => true %>
          <% else %>
        <%= f.label :category, "Scratch/Entry", class: 'radio_hs' %> <%= f.radio_button :category, 'Scratch/Entry' %>
          <% end %>
        </div>
        
        <div>
        <% if(@qna.category=="html/css") %>
        <%= f.label :category, "Html/Css", class: 'radio_hs' %> <%= f.radio_button :category, 'Html/Css', :checked => true %>
          <% else %>
         <%= f.label :category, "Html/Css", class: 'radio_hs' %> <%= f.radio_button :category, 'Html/Css' %>
          <% end %>
        </div>
        
        <div>
        <% if(@qna.category=="etc") %>
        <%= f.label :category, "etc", class: 'radio_hs' %> <%= f.radio_button :category, '기타', :checked => true %>
          <% else %>
        <%= f.label :category, "etc", class: 'radio_hs' %> <%= f.radio_button :category, '기타'%>
        <% end %>
        </div>
        
        
        </div>
        


     <p class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
      <%= f.label :title, "제목", class: "control-label" %>
      <%= f.text_field :title, value: @qna.title, class: "form-control" %>
       </p>
      
      
      <p class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 "> 
      <%= f.label :content, "내용", class: "control-label" %>
      <%= f.text_field :content, value: @qna.content, class: "form-control" %>
       </p>
      
       <p class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
      <%= f.label :code_content, "코드", class: "control-label" %>
      <%= f.text_area :code_content, rows: "20vh", value: @qna.code_content, class: "form-control" %>
       </p>
       
       <p class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
      <%= f.file_field :img %>
       </p>
    <p class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
       <%= submit_tag '', class: "submit_hs" %>
    </p>
    
    
      <% end %>
      
      
    
</div>

</div>
