

  <script type="text/javascript">
       SyntaxHighlighter.all()
  </script>
   <h1><%= link_to "/qnas/new" do %>new<%end%></h1>
   <hr>
   <%= link_to "/qnas/index_c" do %>C/C++<%end%>
   <%= link_to "/qnas/index_py" do %>Python<%end%>
   <%= link_to "/qnas/index_java" do %>Java<%end%>
   <%= link_to "/qnas/index_scratch" do %>Scratch/Entry<%end%>
   <%= link_to "/qnas/index_html" do %>Html/Css<%end%>
   <%= link_to "/qnas/index_etc" do %>Etc<%end%>
    <%= link_to "/qnas/index" do %>All<%end%>
  

<!--검색 기능  -->
<h1>Search</h1>
<%= form_tag(qnas_index_path, :method => "get") do %>
    <%= select_tag "option", options_for_select(["Title", "Content", "Code", "ALL"], "ALL") %>
    <%= text_field_tag :search, nil, placeholder: "search here" %>
    <%= submit_tag "Search" %>
<% end %>


<!--질문 목록-->
 <% @qnas.each do |qna| %>
     
     <%= qna.title %></br>
     <%= qna.category %></br>
     <%= qna.content %></br>
   <pre class="brush: cpp"><%= qna.code_content %></pre></br>
     <%= qna.img %></br>
     <%= qna.qna_user %></br> <!--유져아이디지롱-->

      <% if qna.choice != NIL %> <h1>답변채택완료</h1> <%end %>
     <%= link_to "/qnas/show/#{qna.id}" do %>show<%end%></br>
     <% if current_user %> <%if qna.user_id == current_user.id %> <%= link_to "/qnas/edit/#{qna.id}" do %>edit<%end%> <%end%> </br> <%end%>
     <% if current_user %> <%if qna.user_id == current_user.id %> <%= link_to "/qnas/destroy/#{qna.id}" do %>destroy<%end%></br><%end%><%end%>
     <hr>
    
   
<% end %>
