<h1>Qnas#index</h1>
<p>Find me in app/views/qnas/index.html.erb</p>



  <script type="text/javascript">
       SyntaxHighlighter.all()
  </script>

 <% @qnas.each do |qna| %>
     
     <%= qna.title %></br>
     <%= qna.category %></br>
     <%= qna.content %></br>
   <pre class="brush: cpp"><%= qna.code_content %></pre></br>
     <%= qna.img %></br>
     <%= qna.user_id %></br> <!--유져아이디지롱-->
      <% if qna.choice != NIL %> <h1>답변채택완료</h1> <%end %>
     <%= link_to "/qnas/show/#{qna.id}" do %>show<%end%></br>
      <%= link_to "/qnas/edit/#{qna.id}" do %>edit<%end%></br>
      <%= link_to "/qnas/destroy/#{qna.id}" do %>destroy<%end%></br>
     <hr>
    
   
<% end %>
