<%=render 'nav' %>

<div class="container">
  
  

  <div class="qna_form center_hs">
  
  <h2 class="jua offline_apply_hs">질문하기</h2>
     <%= form_for @qna, url: { controller: "qnas", action: "create" } do |f| %>
  
   <p class=" ">
        <%= f.label :category,"카테고리", class: "control-label"  %>
        <div class="flex_hyo9 col-md-6 push-md-3 col-sm-12 mb-3">
          <div><%= f.label :category, "C/C++", class: 'radio_hs' %> <%= f.radio_button :category, 'C/C++', html: { class: "new_form" } %></div>
          <div><%= f.label :category, "PYTHON", class: 'radio_hs' %> <%= f.radio_button :category, 'PYTHON', html: { class: "new_form" } %></div>
          <div><%= f.label :category, "Java", class: 'radio_hs' %> <%= f.radio_button :category, 'Java', html: { class: "new_form" } %></div>
          <div><%= f.label :category, "Scratch/Entry", class: 'radio_hs' %> <%= f.radio_button :category, 'Scratch/Entry', html: { class: "new_form" } %></div>
          <div><%= f.label :category, "Html/Css", class: 'radio_hs' %> <%= f.radio_button :category, 'Html/Css' , html: { class: "new_form" } %></div>
          <div><%= f.label :category, "기타", class: 'radio_hs' %> <%= f.radio_button :category, 'etc'  , html: { class: "new_form" }%></div>
        </div>
        
         <div class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
             <%= f.label :content, "제목", class: "control-label"  %>
             <%= f.text_field :title, class: "form-control"  %>
          </div>
  
  
          <div class="form-group  col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5">
          <%= f.label :content, "질문 내용", class: "control-label" %>
          <%= f.text_field :content, class: "form-control"%>
          </div>
          
         <div class="form-group  col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5">
          <%= f.label :code_content, "질문 코드", class: "control-label" %>
          <%= f.text_area :code_content, rows: "20vh", class: "form-control text_area_hyo9" %>
          </div>
          
          <div class="form-group  col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5">
          <%= f.label :code_content, "코드 이미지", class: "control-label" %><br>
           <label class="img_upload" for="ex_file"></label> 
                 <%= f.file_field :img , id:"ex_file" %>
          </div>
           
          
        <p class="col-md-8 push-md-2 col-sm-10 push-sm-1">
            <%= submit_tag '',class: "submit_hs" %>
             <%= link_to '', :back, class: "back_hs" %>
            
        </p>
     

      <% end %>

  </p>
       
  
    </div>
</div>