<h1>Qnas#show</h1>
<p>Find me in app/views/qnas/show.html.erb</p>


<%= @qna.title %>
<%= @qna.category %>
<%= @qna.content %>
 <pre class="brush: cpp"><%= @qna.code_content%> </pre>
<%= @qna.img %>

<script type="text/javascript">SyntaxHighlighter.all()</script>