<%= render 'nav' %>
<script type="text/javascript">SyntaxHighlighter.all()</script>


<div class="container">

    <div class="row justify-content-center">   
        <div class="col-md-4 col-12"> <!--제목col-4--> 
            <h2 class="jua offline_apply_hs center_hs">질문 보기</h2>
        </div>
        <div class="col-md-10 col-12"> <!--내용col-10-->
            <div class="row qna_title_box_hk">
                <div class="col-md-10 col-9 qna_title_btn_hk"><p class="review_title_y mb-0"><%= @qna.title %></p></div>
                <div class="col-md-2 col-2 text-uppercase qna_category_hk"><strong style="m-0 p-0"><%= @qna.category %></strong></div>
            </div>
            <hr>            
            <div class="qna_check_hk col-12 mb-3">
                <span class=" text-info"><span class="glyphicon glyphicon-user"></span> <%= @qna.qna_user %>의 질문</span>
            </div>
            <div class="col-12">
                <p>
                <%= @qna.content %>
                </p>
            </div>
            <div class="col-12">
                <pre class="brush: cpp"><%= @qna.code_content %> </pre>
            </div>
            <% if @qna.img.url %>
                <img src="<%= @qna.img.url %>" alt="파일을 다시 업로드 해주세요" width="800">
            <% end  %>
            
            <hr>
                        
            <div class="row justify-content">
                <div class="col-md-2 pr-md-0 col-3 pr-1 align-content-center">
                    <%= link_to "/qnas/index", class: "index_hs px-md-5 px-2" do %><%= image_tag('index_gray.png', class: "img-fluid button-img") %><%end%>
                </div>
                <div class="col-md-2 push-md-8 col-4 push-5">
                    <button class="reply_hs px-md-4 py-md-0 pb-2" data-target="#layerpop" data-toggle="modal" ><%= image_tag('reply.png', class: "img-fluid button-img") %></button>
                </div>
            </div>   
            
                        <!--댓글용 모달입니다 -->
                        
                        <div class="mymodal modal fade" id="layerpop" >
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <!-- header -->
                              
                              
                                <div class="modal-header row ml-0 mr-0">
                                    <!-- header title -->
                                    <div class="col-4">
                                        <span class="modal-title jua center_hs">댓글쓰기</span>
                                    </div>
                                      <!-- 닫기(x) 버튼 -->
                                    <div class="col-md-1 pull-1">
                                        <button type="button" class="close m-0 p-0" data-dismiss="modal">×</button>
                                    </div>
                                </div>
                               
                               
                                  
                                  <!-- body -->
                              <div class="modal-body">
                                 <div class="container-fluid">
                                    <div class="new-form center_hs row justify-content-center">
                                       
                                       
                                       
                                        <h2>Reply:</h2>
                               
                                <%= form_for [@qna, @qna.qna_replies.build] do |f| %>
                            
                            
                                  
                                  <p class="form-group col-md-8 push-md-2 col-10 push-1 mb-5 "> 
                                  <%= f.label :content, "내용", class: "control-label" %>
                                  <%= f.text_field :content, class: "form-control"  %>
                                   </p>
                                  
                                   <p class="form-group col-md-8 push-md-2 col-10 push-1 mb-5 ">
                                  <%= f.label :code_content, "코드", class: "control-label" %>
                                  <%= f.text_area :code_content, class: "form-control"  %>
                                   </p>
                                   
                                   <p class="form-group col-md-8 push-md-2 col-10 push-1 mb-5 ">
                                  <%= f.file_field :img %>
                                   </p>
                                   
                                <div class="row justify-content-center">
                                    <div class="col-2 pl-0 pr-0">
                                      <%= f.submit "", :type => :image, :src => "/assets/submit.png", :class => "button-img" %>
                                    </div>
                                </div>    
                                
                                  <% end %>
                            
                                       
                                       
                                       
                                       
                                        </div>           
                                      </div>
                                  </div>
                                  
                                  <!-- Footer -->
                                  <div class="modal-footer">
                            
                                  </div>
                            </div>
                          </div>
                        </div>
                        <hr>           
                        
                        
                        
                        <div class="col-12">
                            <p class="jua offline_apply_hs center_hs qna_reply_hs">댓글 보기</p>
                        </div>
                        
                        
                        <!--선택된댓글용 -->
                          <% @qna.qna_replies.each do |reply| %>
                            <hr class="m-0 p-0">
                          
                            <% if reply.qna_reply_user %>
                               <% if reply.id == @qna.choice %>
                                 <div class="reply_box_hs row">
                                    <div class="qna_check_hk col-md-11 col-10">
                                      <span class="qna_reply_choice_hs text-info"><span class="glyphicon glyphicon-user"></span> <%= reply.qna_reply_user %>님의 댓글</span>
                                    </div>
                                    <div class="col-md-1 col-1">
                                       <span class="glyphicon glyphicon-bookmark text-danger choice_icon"></span>
                                    </div>
                                    
                                    <div class="col-12 mt-3">
                                        <p>
                                          <%= reply.content %>
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <p>
                                           <pre class="brush: cpp"><%= reply.code_content %> </pre>
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <p>
                                             <% if reply.img.url %>
                                            <img src="<%= reply.img.url %>" alt="파일을 다시 업로드 해주세요" width="800">
                                            <% end  %>
                                        </p>
                                    </div>
                                    <div class="col-md-1 col-2">
                                         <% if current_user %>
                                            <%if reply.user_id == current_user.id %>
                                                 <%= link_to "/qna_replies/destroy/#{@qna.id}/#{reply.id}", class: "delete_hs" do %><%end%>
                                            <%end%>
                                        <%end%>
                                    </div>
                                    </div>
                                  <%end%>
                                <%end%>
                            <%end%>
                            
                            
                            <!--선택안된댓글-->
                            
                        <% @qna.qna_replies.each do |reply| %>
                             <% if reply.id != @qna.choice %>
                             
                             <% if reply.qna_reply_user %>
                               <div class="reply_box_hs row">
                                    <div class="qna_check_hk col-md-11 col-10">
                                      <span class="qna_reply_choice_hs text-info"><span class="glyphicon glyphicon-user"></span> <%= reply.qna_reply_user %>님의 댓글</span>
                                    </div>
                                    <div class="col-md-1 col-1">
                                    </div>
                                    <div class="col-12 mt-3">
                                        <p>
                                          <%= reply.content %>
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <p>
                                           <pre class="brush: cpp"><%= reply.code_content %> </pre>
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <p>
                                             <% if reply.img.url %>
                                            <img src="<%= reply.img.url %>" alt="파일을 다시 업로드 해주세요" width="800">
                                            <% end  %>
                                        </p>
                                    </div>
                                      
                                </div>
                            <% end  %>   
                            
                        
                                <div class="col-md-1 col-2">
                                    <% if current_user %>
                                        <%if reply.user_id == current_user.id %>
                                            <%= link_to "/qna_replies/destroy/#{@qna.id}/#{reply.id}", class: "delete_hs" do %><%end%>
                                        <%end%>
                                    <%end%>
                                </div>
                                <div class="col-md-1 col-2">
                                    <% if @qna.choice ==NIL %>
                                        <% if current_user.id==@qna.user_id %>
                                            <%= link_to "/qna_replies/choose/#{@qna.id}/#{reply.id}", class: "choice_hs" do %><%end%>
                                        <%end %>
                                    <%end %>            
                                </div>
                                
                                
                       
                       <% end %>
                        
                        <%end %>
                 
        </div> 
    </div> <!--큰 row-->
</div>