<%= render 'nav' %>
<script type="text/javascript">SyntaxHighlighter.all()</script>


<div class="container minheight">

    <div class="row justify-content-center">   
        <div class="col-md-4 col-12"> <!--제목col-4--> 
            <h2 class="jua offline_apply_hs center_hs">질문 보기</h2>
        </div>
        <div class="col-md-10 col-12"> <!--내용col-10-->
            <div class="row qna_title_box_hk mx-2">
                <div class="col-md-10 col-9 qna_title_btn_hk"><p class="review_title_y mb-0"><%= @qna.title %></p></div>
                <div class="col-md-2 col-2 text-uppercase qna_category_hk"><strong style="m-0 p-0"><%= @qna.category %></strong></div>
            </div>
            <hr>            
            <div class="qna_check_hk col-12 mb-3">
                <span class=" text-info"><span class="glyphicon glyphicon-user"></span> <%= @qna.qna_user %>의 질문</span>
                
            </div>
            
           
            <!--<div class="col-md-4 push-md-10 hidden-sm-down">-->
             <div class="row justify-content-end">        
                 <div class="col-2 pull-1 col-md-1 push-md-1"><% if current_user %> <%if @qna.user_id == current_user.id %> <%= link_to "/qnas/destroy/#{@qna.id}",class: "delete_hs", data: { confirm: "삭제합니까?" } do %><%end%><%end%></br><%end%></div>
                 <div class="col-2 pull-1 col-md-1 "><% if current_user %> <%if @qna.user_id == current_user.id %> <%= link_to "/qnas/edit/#{@qna.id}", class: "edit_hs" do %><%end%><%end%><%end%></div>
            
            </div>
            <!--</div>-->
            
           <!--  <div class="row no-gutters">-->
           <!--          <% if current_user %> <%if @qna.user_id == current_user.id %>  <div class="col-3 push-6 hidden-md-up"><%= link_to "/qnas/edit/#{@qna.id}", class: "edit_hs" do %><%end%><%end%><%end%> </div>-->
           <!--         <% if current_user %> <%if @qna.user_id == current_user.id %><div class="col-3 push-6 hidden-md-up"> <%= link_to "/qnas/destroy/#{@qna.id}",class: "delete_hs", data: { confirm: "삭제합니까?" } do %><%end%><%end%></br><%end%></div>-->
           <!--</div>-->
            
            
            <div class="col-12">
                <p>
                <%= @qna.content %>
                </p>
            </div>
            <div class="col-12">
                    <% if @qna.category=='C/C++' or @qna.category=='c/c++' %> <pre class="brush: cpp"><%= @qna.code_content %></pre>
                    <% elsif @qna.category=='PYTHON' or @qna.category=='Python'  or @qna.category=='python' %><pre class="brush: py"><%= @qna.code_content %></pre>
                    <% elsif @qna.category=='Java' or @qna.category=='JAVA'or @qna.category=='java' %> <pre class="brush: java"><%= @qna.code_content %></pre>
                    <% elsif @qna.category=='Scratch/Entry' or @qna.category=='SCRATCH/ENTRY' %> <pre class="brush: cpp"><%= @qna.code_content %></pre>
                    <% elsif @qna.category=='Html/Css' or @qna.category=='HTML/CSS' or @qna.category=='html/css' %> <pre class="brush: css"><%= @qna.code_content %></pre>
                    <% elsif @qna.category=='etc' or @qna.category=='ETC' %> <pre class="brush: cpp"><%= @qna.code_content %></pre>
                    <%end%>                
            </div>
            <% if @qna.img.url %>
                <img src="<%= @qna.img.url %>" alt="파일을 다시 업로드 해주세요" class="img-fluid">
            <% end  %>
            
                      
            <hr>
                        
            <div class="row justify-content">
                <div class="col-md-2 pr-md-0 col-3 pr-1 align-content-center">
                    <%= link_to "/qnas/index", class: "index_hs px-md-5 px-2" do %><%= image_tag('index_gray.png', class: "img-fluid button-img") %><%end%>
                </div>
                <div class="col-md-2 push-md-8 col-4 push-5">
                    <button class="reply_hs px-md-4 py-md-0 pb-2" data-target="#layerpop" data-toggle="modal" ><%= image_tag('reply.png', class: "img-fluid button-img") %></button>
                </div>
            </div>   
            
                        <!--댓글용 모달입니다 -->
                    <div class="row hyo3 ">
                         <div class="mymodal modal fade hyo3" id="layerpop"  >
                         <!--여기가전체박스겟지-->
                         
                         <div class="container-fluid hyo3">
                          <div class="modal-dialog row justify-content-center hyo3">
                            <div class="modal-content col-8 col-sm-8 hyo3">
                              <!--이위에가 모달크기디브 header -->
                              
                              
                                <div class="modal-header row justify-content-center hyo3">
                                    
                                      <!-- 닫기(x) 버튼 -->
                                    <div class="col-md-12 pull-1">
                                        <button type="button" class="close m-0 p-0" data-dismiss="modal">×</button>
                                    </div>
                                    
                                    
                                    
                                        <!-- 닫기(x) 버튼 -->

                                    <!-- header title -->
                                    <div class="">
                                        <span class="modal-title jua hyo2">댓글쓰기</span>
                                    </div>
                                    
                                </div>
                               
                               
                                  
                                  <!-- body -->
                              <div class="modal-body">
                                 <div class="container-fluid">
                                    <div class="row justify-content-center">
                                       
                                       
    
                                <%= form_for [@qna, @qna.qna_replies.build] do |f| %>
                            
                            
                                  
                                  <div class="hyo0"><%= f.label :content, "내용", class: "control-label" %></div>
                                  <div ><%= f.text_field :content, class: "form-control"%></div>
                                   
                                      <div  class="hyo0"><%= f.label :code_content, "코드", class: "control-label" %></div>
                                      <div><%= f.text_area :code_content, cols:"80vw", rows:"15vh" ,class: "form-control" %></div>
                                   
                                   
                                   <div class="">
                                    <label class="img_upload" for="ex_file"> <%= f.file_field :img , id:"ex_file" %></label> 
    
                                   </div>
                                  
                                  
                                   
                                    <div class="col-md-3 col-5 col-pull-7 pl-0 pr-0">
                                      <%= f.submit "", :type => :image, :src => "/assets/submit.png", :class => "button-img" %>
                                    </div>
                                
                                
                                  <% end %>
                            
                                       
                                       
                                       
                                       
                                        </div>           
                                      </div>
                                  </div>
                                  
                                  <!-- Footer -->
                                  <div class="modal-footer">
                            
                                  </div>
                            </div>
                          </div>
                        </div>
                    </div>
                        </div> 
                        <!--여기가모달끝-->
                        <hr>           
                        
                        
                        
                        <div class="col-12">
                            <p class="jua offline_apply_hs center_hs qna_reply_hs">댓글 보기</p>
                        </div>
                        
                        
                        <!--선택된댓글용 -->
                          <% @qna.qna_replies.each do |reply| %>
                            <hr class="m-0 p-0">
                          
                            <% if reply.qna_reply_user %>
                               <% if reply.id == @qna.choice %>
                                 <div class="reply_box_hs px-1 px-md-5 row">
                                    <div class="qna_check_hk col-md-11 col-10">
                                      <span class="qna_reply_choice_hs text-info"><span class="glyphicon glyphicon-user"></span> <%= reply.qna_reply_user %>님의 댓글</span>
                                    </div>
                                    <div class="col-md-1 col-1">
                                       <span class="glyphicon glyphicon-bookmark text-danger choice_icon"></span>
                                    </div>
                                    
                                    <div class="col-12 mt-3">
                                        <p>
                                          <%= reply.content %>
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <p> 
                                             <% if @qna.category=='C/C++' or @qna.category=='c/c++' %> <pre class="brush: cpp"><%= reply.code_content %></pre>
                                            <% elsif @qna.category=='PYTHON' or @qna.category=='Python'  or @qna.category=='python' %><pre class="brush: py"><%= reply.code_content %></pre>
                                            <% elsif @qna.category=='Java' or @qna.category=='JAVA'or @qna.category=='java' %> <pre class="brush: java"><%= reply.code_content %></pre>
                                            <% elsif @qna.category=='Scratch/Entry' or @qna.category=='SCRATCH/ENTRY' %> <pre class="brush: cpp"><%= reply.code_content %></pre>
                                            <% elsif @qna.category=='Html/Css' or @qna.category=='HTML/CSS' or @qna.category=='html/css' %> <pre class="brush: css"><%= reply.code_content %></pre>
                                            <% elsif @qna.category=='etc' or @qna.category=='ETC' %> <pre class="brush: cpp"><%= reply.code_content %></pre>
                                            <%end%>
                                          
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <p>
                                             <% if reply.img.url %>
                                            <img src="<%= reply.img.url %>" alt="파일을 다시 업로드 해주세요" class="img-fluid">
                                            <% end  %>
                                        </p>
                                    </div>
                                    <div class="col-md-1 col-2">
                                         <% if current_user %>
                                            <%if reply.user_id == current_user.id %>
                                                 <%= link_to "/qna_replies/destroy/#{@qna.id}/#{reply.id}", class: "delete_hs" do %><%end%>
                                            <%end%>
                                        <%end%>
                                    </div>
                                    </div>
                                  <%end%>
                                <%end%>
                            <%end%>
                            
                            
                            
<!-- ************선택안된댓글************ -->    
<% @qna.qna_replies.each do |reply| %>
  <% if reply.id != @qna.choice %>
     
    <% if reply.qna_reply_user %>
    <div class="reply_box_hk px-1 px-md-5 py-2">

      <div class="row">
        <div class="qna_check_hk col-md-10 col-8">
          <span class="qna_reply_choice_hs text-info"><span class="glyphicon glyphicon-user"></span> <%= reply.qna_reply_user %>님의 댓글</span>
        </div>
        
        <% if @qna.choice == NIL %>
            <% if current_user.id == @qna.user_id %>
                <div class="col-1 pull-1 pull-md-0 px-0 mx-md-0">
                    <% if current_user %>
                        <%if reply.user_id == current_user.id %>
                            <%= link_to "/qna_replies/destroy/#{@qna.id}/#{reply.id}", class: "delete_hs" do %><%end%>
                        <% end %>
                    <%end%>
                </div>
                <div class="col-1 for_b px-0 mx-0">
                    <%= link_to "/qna_replies/choose/#{@qna.id}/#{reply.id}", class: "choice_hs" do %><%end%>
                </div>
            <% end %>
        <% else %>
                <div class="col-1"></div>
                <div class="col-1 for_b px-0 mx-0">
                    <% if current_user %>
                        <%if reply.user_id == current_user.id %>
                            <%= link_to "/qna_replies/destroy/#{@qna.id}/#{reply.id}", class: "delete_hs" do %><%end%>
                        <% end %>
                    <%end%>
                </div>
        <% end %> 
      </div>
      
      
      <div class="row">
        <div class="col-12 mt-3">
          <p><%= reply.content %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p>
               <% if @qna.category=='C/C++' or @qna.category=='c/c++' %> <pre class="brush: cpp"><%= reply.code_content %></pre>
                <% elsif @qna.category=='PYTHON' or @qna.category=='Python'  or @qna.category=='python' %><pre class="brush: py"><%= reply.code_content %></pre>
                <% elsif @qna.category=='Java' or @qna.category=='JAVA'or @qna.category=='java' %> <pre class="brush: java"><%= reply.code_content %></pre>
            <% elsif @qna.category=='Scratch/Entry' or @qna.category=='SCRATCH/ENTRY' %> <pre class="brush: cpp"><%= reply.code_content %></pre>
            <% elsif @qna.category=='Html/Css' or @qna.category=='HTML/CSS' or @qna.category=='html/css' %> <pre class="brush: css"><%= reply.code_content %></pre>
            <% elsif @qna.category=='etc' or @qna.category=='ETC' %> <pre class="brush: cpp"><%= reply.code_content %></pre>
            <%end%>
            </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p><% if reply.img.url %>
            <img src="<%= reply.img.url %>" alt="파일을 다시 업로드 해주세요" class="img-fluid">
            <% end  %>
          </p>
        </div>
      </div>
              
    </div> <!-- reply box end -->
    <% end %>        
  <% end %>
<% end %> <!-- 채택 X 인지 묻기 -->

</div> 
</div> <!--큰 row-->
</div>