
<!-- PC -->
<div class="d-none d-md-block">
  <div class="study_fl_hk px-3 mx-2 pb-2">
    <div class="row mt-0">
        <div class="col-5 study_name_box_hk py-4"><p class="study_name_hk jua"><%= study.study_name %></p></div>
    </div>
 <% time=Time.now%>
	<% nowyear=time.year %>  
	<% nowmonth=time.month %>  
	<% nowday=time.day %>  
	<% studyyear=study.study_due.year %>  
	<% studymonth=study.study_due.month %>  
	<% studyday=study.study_due.day %> 
	
	
     <div class="margin_hk"></div>
     <div class="row justify-content-end">
            <% if (nowyear==studyyear) && (nowmonth==studymonth) %>
        	    <% if ((studyday-nowday)<6)&&(studyday>nowday) %>
        	       <div class="col-4"><p class="study_con1_hk jua">D-<%= studyday-nowday %></p></div>
        	    <% else %>
        	         <div class="margin_dd"><p class="study_con3_hk jua">  </p></div>
        	    <% end %>    
        	    <% else %>
        	         <div class="margin_dd"><p class="study_con3_hk jua"></p></div>
        	<%end%> 
    </div>
    <div class="row justify-content-end">
        <div class="col-4"><p class="study_con1_hk jua"><%= study.user.name %> 튜터와 1 : <%= study.study_max %> 스터디</p></div>
    </div>
    <div class="row justify-content-end">
        <div class="col-6"><p class="study_con2_hk study_content_hk"><%= study.study_content %></p></div>
    </div>
    <div class="row justify-content-end">
        <div class="col-6"><p class="study_con2_hk"><%= study.study_due %> 까지 모집</p></div>
    </div>
    
  </div>
</div>

<!-- mobile -->
<div class="d-md-none d-lg-none d-xl-none">
  <div class="study_fl_hk">
    <div class="row mt-0">
        <div class="col-8 study_name_box_hk justify-content-center align-content-center py-3"><p class="study_name_mo jua pb-0 mb-0"><%= study.study_name %></p></div>
    </div>
    <div class="margin_m_hk"></div>
    <div class="row justify-content-end">
        <div class="col-8"><p class="study_con1_mo jua"><%= study.user.name %> 튜터</p></div>
    </div>
    <div class="row justify-content-end">
        <div class="col-8"><p class="study_con1_mo jua">1 : <%= study.study_max %> 스터디</p></div>
    </div>
    <div class="row justify-content-end">
        <div class="col-8"><p class="study_con2_mo study_content_hk"><%= study.study_content %></p></div>
    </div>
    <div class="row justify-content-end">
        <div class="col-8"><p class="study_con2_mo"><%= study.study_due %> 까지 모집</p></div>
    </div>
  </div>
</div>
