<%= form_for @study, url: { controller: "studies", action: "create" } do |f| %>

  <div class="field">
    <%= f.label :study_name %><br>
    <%= f.text_field :study_name %>
  </div>
  <div class="field">
    <%= f.label :study_time %><br>
    <%= f.text_area :study_time %>
  </div>
  <div class="field">
    <%= f.label :study_content %><br>
    <%= f.text_area :study_content %>
  </div>
  <div class="field">
    <%= f.label :study_pay %><br>
    <%= f.text_field :study_pay %>
  </div>
  <div class="field">
    <%= f.label :study_max %><br>
    <%= f.text_field :study_max %>
  </div>
  <div class="field">
    <%= f.label :study_due %><br>
    <%= f.date_field :study_due %>
  </div>
  <div class="field">
    <%= f.label :teacher_img %><br>
    <%= f.file_field :teacher_img %>
  </div>
  <div class="field">
    <%= f.label :teacher_intro %><br>
    <%= f.text_area :teacher_intro %>
  </div>
  <div class="actions">
    <%= f.submit %>

  </div>
<% end %>
