<%=render 'nav'%>
<div class="container">

        <div class="row">
              <div class="col-md-3 col-5 hidden-sm-down">
                 <div class="question_hk justify-content-center align-items-center mb-4">
                     <h2 class="title_review jua text_white_hk">스 터 디</h2>
                 </div>
               </div>
        </div>
    
    <h2>
        스터디 신청
        <%= link_to '신청', '/studies/new'%>
    </h2>
    
    
        <h2>
            여기는 스터디 목록
        </h2>
        
        <% @studies.each do |study| %>
            <% if(study.study_pass==true) %>
                <%=study.id %> 
                <%= link_to "/studies/show/#{study.id}" do %> <%= study.study_name %><% end %>
                <hr>
            <%end%>
        <% end %>
    
    <h2>
        <a href="/suggests">건의게시판 들어가기</a>
    </h2>

</div>