	<!-- PC mobile LIST -->
			<div class="row">
			<div class="col-12">
			    
			<% @studies.each do |study| %>
            	<% if(study.study_pass == true) %>
                <%= link_to "/studies/show/#{study.id}", class: "row" do %>
                
                
		        <!-- study box -->    
		
		        <% if (study.id % 7)==0%>
		            <div class="study_box_hk study_index_intro7 w-100 mx-0 px-0">         	
		                <%= render partial: 'fl', locals: { study: study }  %>
		        	</div> 
		        <% elsif (study.id % 7)==1%>
		            <div class="study_box_hk study_index_intro1 w-100 mx-0 px-0">         	
		                <%= render partial: 'fl', locals: { study: study }  %>
		        	</div> 
		        <% elsif (study.id % 7)==2%>
		        	<div class="study_box_hk study_index_intro2 w-100 mx-0 px-0">         	
		                <%= render partial: 'fl', locals: { study: study }  %>
		        	</div> 
		        <% elsif (study.id % 7)==3%>
		        	<div class="study_box_hk study_index_intro3 w-100 mx-0 px-0">         	
		                <%= render partial: 'fl', locals: { study: study }  %>
		        	</div> 
		        <% elsif (study.id % 7)==4%>
		        	<div class="study_box_hk study_index_intro4 w-100 mx-0 px-0">         	
		                <%= render partial: 'fl', locals: { study: study }  %>
		        	</div> 
		        <% elsif (study.id % 7)==5%>
		    	    <div class="study_box_hk study_index_intro5 w-100 mx-0 px-0">         	
		                <%= render partial: 'fl', locals: { study: study }  %>
		        	</div> 
		        <% elsif (study.id % 7)==6%>
		        	<div class="study_box_hk study_index_intro6 w-100 mx-0 px-0">         	
		                <%= render partial: 'fl', locals: { study: study }  %>
		        	</div> 
		        <% else %>
			        <div class="study_box_hk study_index_intro7 w-100 mx-0 px-0">         	
		                <%= render partial: 'fl', locals: { study: study }  %>
		        	</div> 
		        <%end%>  
		
		        <!-- study_box_hk end -->
				<% end %> <!-- link to end -->
				            
                <div class="hidden-md-up"><p> </p></div>
             	            
            	<% end %><% end %> <!-- for if end -->
			</div></div> <!-- PC Mobile LIST end -->