<!--bg img-->
<style>
    
.study_show_intro1 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_1.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro2 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_2.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro3 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_3.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro4 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_4.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro5 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_5.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro6 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_6.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro7 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_7.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro1_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_1.png' %>);
  background-size: cover; }

.study_show_intro2_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_2.png' %>);
  background-size: cover; }

.study_show_intro3_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_3.png' %>);
  background-size: cover; }

.study_show_intro4_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_4.png' %>);
  background-size: cover; }

.study_show_intro5_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_5.png' %>);
  background-size: cover; }

.study_show_intro6_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_6.png' %>);
  background-size: cover; }

.study_show_intro7_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_7.png' %>);
  background-size: cover; }

</style>
<!-- bg img end -->


<%=render 'nav'%>
<div class="container minheight">
     
     <!--web용 -->
    <div class="row no-gutters d-none d-md-block">
       <div class="col-md-9">
           <div class="row no-gutters">
            <div><div class="p-3 study_name jua"><%=@study.study_name %></div></div>
            <div class="p-5"></div>
                    <div class="col-12"><div class="intro_box jua">강 사 소 개</div></div>
                    <div class="col-12">
                        <div class=" row mx-1 teacher_intro">
                            <div class="col-3">
                                <% if @study.teacher_img.present? %>
                                    <img src="<%= @study.teacher_img.url %>" alt="파일을 다시 업로드 해주세요" width="200">
                                <% else %>
                                        <%= image_tag('logo_gray.png', size: "200") %>
                                <% end %>
                            </div>
                            <div class="col-8 push-1 for_font">
                               <%= simple_format(@study.teacher_intro) %>
                            </div>
                        
                        </div> 
                    </div>
                    
                    <div class="col-12"><div class="intro_box jua">강 의 내 용</div></div>
                    <div class="col-12"><div class="teacher_intro"><%= simple_format(@study.study_content) %></div> </div>
                    
                    
                    <div class="col-12 row">
                        <div class="col-2">
                            <%= link_to "/studies", class: "index_hs" do %><%= image_tag('index_gray.png', class: "img-fluid button-img") %><%end%> 
                        </div>
                    <%if current_user.nil? %>
                    <%else %>
                         <div class="col-2">
                             <%if current_user.id==1%>    
                              <%= link_to "/studies/#{@study.id}/edit", class: "index_hs" do %><%= image_tag('edit.png', class: "img-fluid button-img") %><%end%> 
                           <%end%>
                        
                        </div>
                    <%end%> 
                    
                       
                    </div>  
                </div>    
        </div>
        
        <div class="col-md-3 study_fixed for_b">
            <div class="col-12"><div class="apply_box bg-info jua">강 의 정 보</div></div>
            <div class="col-12">
                <div class="student_intro jua">
                        <div class="col-12"><div class="study_content2 ">MAX: <%=@study.study_max %>명 </div><hr></div>
                        
                         <div class="col-12"><div class="study_content2 ">TIME: <%=@study.study_time %>/회</div><hr></div>
                          <div class="col-12"><div class="study_content2 ">PAY: <%=@study.study_pay%>/시간</div><hr></div>
                          <div class="col-12"><div class="study_content2 ">D-DAY: <%=@study.study_due%></div><hr></div>
                </div>
             </div>
        <% if current_user.nil? %>     
             <div class="col-12">
                             <%= link_to "/studies/#{@study.id}" , :onclick => "myFunction()" do %><%= image_tag("study_apply.png", :class=>"review_write") %> <% end %>
                 
             </div>
        <%else%>
              <div class="col-12">
                  <!--신청안했으면 신청하기 신청했으면 신청취소하기-->
                    <%flag=0%>
                     <% @apply.each do |apply| %>
                        <% if apply.user_id == current_user.id %><% flag=apply.id%>
                        <%else%> <% flag=0%>       
                        <%end%>     
                    <%end%>
                    
                    <% if flag!=0 %>
                             <%= link_to "/studies/#{@study.id}/apply_d/#{flag}" do %><%= image_tag("study_apply_d.png", :class=>"review_write") %> <% end %>
                     <% else %>
                             <%= link_to "/studies/#{@study.id}/apply" do %><%= image_tag("study_apply.png", :class=>"review_write") %> <% end %>
                    <%end %>
             </div>
        <%end%>
        
        </div>
        
    </div>
    
      <!--mobile -->
    <div class="row no-gutters  d-md-none d-lg-none d-xl-none">
      
            <div><div class="p-3 study_name_m jua"><%=@study.study_name %></div></div>
            <div class="p-5"></div>
    
    </div>
    
    <!--mobile-->
    <div class="row no-gutters d-md-none d-lg-none d-xl-none">
         <div class="col-12"><div class="intro_box_m jua">강 의 정 보</div></div>
        <div class="col-12">
            <div class="row mx-1 teacher_intro">
                <div class="col-3 px-0"><div class="study_due_m jua"><br>Due:<br><%=@study.study_due %></div></div>
                <div class="col-9 px-0 for_b text-right">
                    <div class="col-12 px-0"><div class="study_content2_m ">MAX: <%=@study.study_max %>명<hr></div></div>
                     <div class="col-12 px-0"><div class="study_content2_m">TIME: <%=@study.study_time %>/회<hr></div></div>
                      <div class="col-12 px-0"><div class="study_content2_m ">PAY: <%=@study.study_pay%>원/시간<hr></div></div>
                </div>
            </div>
        </div>
        <div class="col-12"><div class="intro_box_m jua">강 사 소 개</div></div>
        <div class="col-12">
            <div class=" row mx-1 teacher_intro">
                <div class="col-3 px-0">
                    <% if @study.teacher_img.present? %>
                        <img src="<%= @study.teacher_img.url %>" alt="파일을 다시 업로드 해주세요" class="review_write" >
                    <% else %>
                            <%= image_tag('logo_gray.png', class:"review_write" ) %>
                    <% end %>
                </div>
                <div class="col-9 for_font for_b pr-0">
                   <%= simple_format(@study.teacher_intro) %>
                </div>
            
            </div> 
        </div>
        
        <div class="col-12"><div class="intro_box_m  jua">강 의 내 용</div></div>
        <div class="col-12"><div class="teacher_intro"><%= simple_format(@study.study_content) %></div> </div>
        
       
         <div class="row mx-1">
           
                 <div class="col-5 px-0 mt-3 mr-4">
                 <% if current_user.nil? %>     
                    <%= link_to "/studies/#{@study.id}" , :onclick => "myFunction()" do %><%= image_tag("study_apply.png", :class=>"review_write") %> <% end %>
                 
                <%else%>     
                         <% if flag!=0 %>
                                 <%= link_to "/studies/#{@study.id}/#{flag}/apply_d" do %><%= image_tag("study_apply_d.png", :class=>"review_write") %> <% end %>
                         <% else %>
                                 <%= link_to "/studies/#{@study.id}/apply" do %><%= image_tag("study_apply.png", :class=>"review_write") %> <% end %>
                        <%end %>
                <%end%>
                
                     
                   
                </div>
                
            <div class="col-3 px-0 mt-3">
                <%= link_to "/studies", class: "index_hs" do %><%= image_tag('index_gray.png', class: "img-fluid button-img") %><%end%> 
            </div>
        <% if current_user.nil? %>
        <% else %>
            <div class="col-3 px-0 mt-3">
                 <%if current_user.id==@study.user_id %>    
                  <%= link_to "/studies/#{@study.id}/edit", class: "index_hs" do %><%= image_tag('edit.png', class: "img-fluid button-img") %><%end%> 
               <%end%>
            
            </div>
        <%end %>
        
            
         </div>
        
        
        
    </div>

</div>


<script>
function myFunction() {
    alert("로그인 해주세요.");
}
</script>
