<!--bg img-->
<style>
    
.study_show_intro1 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_1.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro2 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_2.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro3 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_3.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro4 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_4.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro5 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_5.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro6 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_6.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro7 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_7.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro1_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_1.png' %>);
  background-size: cover; }

.study_show_intro2_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_2.png' %>);
  background-size: cover; }

.study_show_intro3_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_3.png' %>);
  background-size: cover; }

.study_show_intro4_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_4.png' %>);
  background-size: cover; }

.study_show_intro5_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_5.png' %>);
  background-size: cover; }

.study_show_intro6_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_6.png' %>);
  background-size: cover; }

.study_show_intro7_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_7.png' %>);
  background-size: cover; }

</style>
<!-- bg img end -->


<%=render 'nav'%>
<div class="container minheight">
     <!--web용 -->
    <div class="row no-gutters hidden-sm-down">
        <% if (@study.id % 7)==0 %><div class="col-md-9 study_show_intro7 d-flex flex-column">
        <% elsif (@study.id % 7)==1%><div class="col-md-9 study_show_intro1 d-flex flex-column">
        <% elsif (@study.id % 7)==2%><div class="col-md-9 study_show_intro2 d-flex flex-column">
        <% elsif (@study.id % 7)==3%><div class="col-md-9 study_show_intro3 d-flex flex-column">
        <% elsif (@study.id % 7)==4%><div class="col-md-9 study_show_intro4 d-flex flex-column">
        <% elsif (@study.id % 7)==5%><div class="col-md-9 study_show_intro5 d-flex flex-column">
        <% elsif (@study.id % 7)==6%><div class="col-md-9 study_show_intro6 d-flex flex-column">
        <% else%> <div class="col-md-9 study_show_intro7 d-flex flex-column">
        <%end%>    
            <div><div class="p-3 study_name jua"><%=@study.study_name %></div></div>
            <div class="p-5"></div>
            <div><div class="p-3 study_max">1:<%=@study.study_max %></div></div>
            <div><div class="p-3 study_time"><%=@study.study_time %></div></div>
            <div><div class="p-3 study_pay"><%=@study.study_pay%>W/hour</div></div>
        </div>
        <div class="col-md-3">
            <div class="col-12"><div class="apply_box bg-info jua">신 청 자 목 록</div></div>
            <div class="col-12">
                <div class="student_intro jua">
                        <% @apply.each do |apply| %>
                            <%=apply.student_name %> 
                         <%end%>
                </div>
             </div>
             <div class="col-12">
                  <!--신청안했으면 신청하기 신청했으면 신청취소하기-->
                    <%flag=0%>
                     <% @apply.each do |apply| %>
                        <% if apply.user_id == current_user.id %><% flag=apply.id%>
                        <%else%> <% flag=0%>       
                        <%end%>     
                    <%end%>
                    
                    <% if flag!=0 %>
                             <%= link_to "/studies/apply_d/#{@study.id}/#{flag}" do %><%= image_tag("study_apply_d.png", :class=>"review_write") %> <% end %>
                     <% else %>
                             <%= link_to "/studies/apply/#{@study.id}" do %><%= image_tag("study_apply.png", :class=>"review_write") %> <% end %>
                    <%end %>
             </div>
        </div>
    </div>
    
      <!--mobile -->
    <div class="row no-gutters  hidden-md-up">
       <% if (@study.id % 7)==0%><div class="col-md-9 study_show_intro7_m d-flex flex-column">
        <% elsif (@study.id % 7)==1%><div class="col-md-9 study_show_intro1_m d-flex flex-column">
        <% elsif (@study.id % 7)==2%><div class="col-md-9 study_show_intro2_m d-flex flex-column">
        <% elsif (@study.id % 7)==3%><div class="col-md-9 study_show_intro3_m d-flex flex-column">
        <% elsif (@study.id % 7)==4%><div class="col-md-9 study_show_intro4_m d-flex flex-column">
        <% elsif (@study.id % 7)==5%><div class="col-md-9 study_show_intro5_m d-flex flex-column">
        <% elsif (@study.id % 7)==6%><div class="col-md-9 study_show_intro6_m d-flex flex-column">
        <% else%> <div class="col-md-9 study_show_intro7_m d-flex flex-column">
        <%end%>  
            <div><div class="p-3 study_name_m jua"><%=@study.study_name %></div></div>
            <div class="p-5"></div>
            <div><div class="p-3 study_max_m">1:<%=@study.study_max %></div></div>
            <div><div class="p-3 study_time_m"><%=@study.study_time %></div></div>
            <div><div class="p-3 study_pay_m"><%=@study.study_pay%>W/hour</div></div>
        </div>
    </div>
    
    <!--web-->
    <div class="row no-gutters hidden-sm-down">
        <div class="col-9"><div class="intro_box bg-info jua">강 사 소 개</div></div>
        <div class="col-9">
            <div class=" row mx-1 teacher_intro">
                <div class="col-3">
                    <% if @study.teacher_img.present? %>
                        <img src="<%= @study.teacher_img.url %>" alt="파일을 다시 업로드 해주세요" width="200">
                    <% else %>
                            <%= image_tag('logo_gray.png', size: "200") %>
                    <% end %>
                </div>
                <div class="col-8 push-1 for_font">
                   <%= simple_format(@study.teacher_intro) %>
                </div>
            
            </div> 
        </div>
        
        <div class="col-9"><div class="intro_box bg-info jua">강 의 내 용</div></div>
        <div class="col-9"><div class="teacher_intro"><%= simple_format(@study.study_content) %></div> </div>
        
        <div class="col-9"><div class="intro_box bg-info jua">강 의 정 보</div></div>
        <div class="col-9">
            <div class="row mx-1 teacher_intro">
                <div class="col-3"><div class="study_due jua"><br>Due:<br><%=@study.study_due %></div></div>
                <div class="col-8 push-1 text-right">
                    <div class="col-12"><div class="study_content jua">신청 가능 인원: <%=@study.study_max %>명</div></div>
                     <div class="col-12"><div class="study_content jua">수업 시간: 1회 당 <%=@study.study_time %></div></div>
                      <div class="col-12"><div class="study_content jua">수업료: 1회 당 <%=@study.study_pay%>원</div></div>
                </div>
            </div>
        </div>
        <div class="col-9 row">
            <div class="col-2">
                <%= link_to "/studies/index", class: "index_hs" do %><%= image_tag('index_gray.png', class: "img-fluid button-img") %><%end%> 
            </div>
            <div class="col-2">
                 <%if current_user.id==@study.user_id %>    
                  <%= link_to "/studies/edit/#{@study.id}", class: "index_hs" do %><%= image_tag('edit.png', class: "img-fluid button-img") %><%end%> 
               <%end%>
            
            </div>
        </div>        
    </div>
    
    <!--mobile-->
    <div class="row no-gutters hidden-md-up">
        <div class="col-12"><div class="intro_box_m bg-info jua">강 사 소 개</div></div>
        <div class="col-12">
            <div class=" row mx-1 teacher_intro">
                <div class="col-3 px-0">
                    <% if @study.teacher_img.present? %>
                        <img src="<%= @study.teacher_img.url %>" alt="파일을 다시 업로드 해주세요" class="review_write">
                    <% else %>
                            <%= image_tag('logo_gray.png', class:"review_write") %>
                    <% end %>
                </div>
                <div class="col-9 for_font for_b pr-0">
                   <%= simple_format(@study.teacher_intro) %>
                </div>
            
            </div> 
        </div>
        
        <div class="col-12"><div class="intro_box_m bg-info jua">강 의 내 용</div></div>
        <div class="col-12"><div class="teacher_intro"><%= simple_format(@study.study_content) %></div> </div>
        
        <div class="col-12"><div class="intro_box_m bg-info jua">강 의 정 보</div></div>
        <div class="col-12">
            <div class="row mx-1 teacher_intro">
                <div class="col-3 px-0"><div class="study_due_m jua"><br>Due:<br><%=@study.study_due %></div></div>
                <div class="col-9 px-0 for_b text-right">
                    <div class="col-12 px-0"><div class="study_content_m jua">신청 가능 인원: <%=@study.study_max %>명</div></div>
                     <div class="col-12 px-0"><div class="study_content_m jua">수업 시간: 1회 당 <%=@study.study_time %></div></div>
                      <div class="col-12 px-0"><div class="study_content_m jua">수업료: 1회 당 <%=@study.study_pay%>원</div></div>
                </div>
            </div>
        </div>
         <div class="row mx-1">
             <div class="col-12 px-0"><div class="intro_box_m bg-info jua">신 청 자 목 록</div></div>
             <div class="col-9 px-0">
                <div class="student_intro_m jua">
                        <% @apply.each do |apply| %>
                            <%=apply.student_name %> 
                         <%end%>
                </div>
            </div>
                 <div class="col-3 px-0 mt-3">
                    <% if flag!=0 %>
                                 <%= link_to "/studies/apply_d/#{@study.id}/#{flag}" do %><%= image_tag("study_apply_d.png", :class=>"review_write") %> <% end %>
                         <% else %>
                                 <%= link_to "/studies/apply/#{@study.id}" do %><%= image_tag("study_apply.png", :class=>"review_write") %> <% end %>
                        <%end %>
                </div>
         </div>
        
        
         <div class="row mx-1 mt-3">
            <div class="col-3 px-0">
                <%= link_to "/studies/index", class: "index_hs" do %><%= image_tag('index_gray.png', class: "img-fluid button-img") %><%end%> 
            </div>
            <div class="col-3 px-0">
                 <%if current_user.id==@study.user_id %>    
                  <%= link_to "/studies/edit/#{@study.id}", class: "index_hs" do %><%= image_tag('edit.png', class: "img-fluid button-img") %><%end%> 
               <%end%>
            
            </div>
        </div>
    </div>

</div>