<%=render 'nav'%>
<div class="container">

    <h1>여기는 studies/show 페이지 입니다</h1>
    <%if current_user.id==@study.user_id %> 스터디 수정:<%=link_to "/studies/edit/#{@study.id}" do %>edit<%end%><hr> <%end%>
스터디 이름:<%=@study.study_name %> <hr>
스터디 시간:<%=@study.study_time %><hr>
스터디 내용:<%=@study.study_content %><hr>
스터디 가격:<%=@study.study_pay %><hr>
스터디 최대인원:<%=@study.study_max %><hr>
스터디 마감날짜:<%=@study.study_due %><hr>

강사 이미지:
<% if @study.teacher_img.present? %>
    <img src="<%= @study.teacher_img.url %>" alt="파일을 다시 업로드 해주세요" width="200"><hr>
<% else %>
    <%= image_tag('logo_gray.png', size: "200") %><hr>
    
<% end %>


강사 소개:<%=@study.teacher_intro %><hr>
<!--굳굳~-->

<!--신청안했으면 신청하기 신청했으면 신청취소하기-->
<%flag=0%>
 <% @apply.each do |apply| %>
    <% if apply.user_id == current_user.id %><% flag=apply.id%>
    <%else%> <% flag=0%>       
    <%end%>     
<%end%>

<% if flag!=0 %>
         <%= link_to "/studies/apply_d/#{@study.id}/#{flag}" do %>신청하기 취소<% end %>
   <% else %>
         <%= link_to "/studies/apply/#{@study.id}" do %>신청하기<% end %>
     <%end %>
 <h2>글쓴이만 신청목록 볼 수 있게 해놨음ㅎ</h2>
 
 <% if(current_user.id == @study.user_id)%>
     <% @apply.each do |apply| %>
        <%=apply.student_name %> 
     <%end%>
 <% end %>
 
 <hr>
 <%= link_to "/studies/index", class: "index_hs" do %><%= image_tag('index_gray.png', class: "img-fluid button-img") %><%end%>

</div>