<%=render 'nav'%>

<div class="container minheight">

<!-- header -->
  <div class="row hidden-sm-down">
    <div class="col-md-3">
       <div class="question_hk justify-content-center align-items-center mb-4">
           <h2 class="title_review jua text_white_hk">마 이 페 이 지</h2>
       </div>
     </div>
  </div> 
<!-- header end -->  
    

<!-- *********** PC *********** -->    
  <div class="row hidden-sm-down">
    <!--<h1 class="col-12 jua my-3">나의 프로필</h1>-->

    <!-- 1 -->    
    <div class="col-4">

    <!-- 나의 정보 -->
      <div class="col-12 mypage_box justify-content-center align-items-center py-5">
        <div class="col-6 push-3 pb-2"><%= image_tag("logo.png", :class=>"review_write") %></div>
        <p class="jua my_e text_ah9 pb-2 mb-3"><%= current_user.email %></p>
        <div class="col-6 push-3 pb-2"><%= image_tag("my_info.png", :class=>"review_write") %></div>
        <div class="col-8 push-1 mx-4 my-3">
            <table class="table table-hover">
                <tr><td class="table_info">이  름 </td><td class="table_info"><%= current_user.name %></td></tr>
                <tr><td class="table_info">닉네임 </td><td class="table_info"><%= current_user.nickname %></td></tr>
                <tr><td class="table_info">생  일 </td><td class="table_info"><%= current_user.birthday %></td></tr>
                <tr><td class="table_info">연락처 </td><td class="table_info"><%= current_user.phone %></td></tr>
                <tr><td class="table_info">소  속 </td><td class="table_info"><%= current_user.part %></td></tr>
            </table>
        </div>
     </div>  
    </div> <!-- 1 end-->

    <!-- 2 -->
    <div class="col-4">
        <div class="d-flex flex-column justify-content-between align-items-center mypage_box">
        
        <!-- 후기 -->
            <div class="row mypage_content w-100 h-90 pt-3 px-5 m-0">  
                <div class="col-6 push-3 my-4"><%= image_tag("my_review.png", :class=>"review_write") %></div>
                <table class="table table-hover">
                    <% current_user.reviews.last(5).each do |review| %>
                    <tr>
                        <td class="table_hk"><%= link_to "/reviews/#{review.id}", class: "my_2" do%><%= review.title %><% end %></td>
                    </tr>
                    <% end %>
                </table>
            </div>
            
        <!-- 스터디 -->
            <div class="row mypage_content w-100 h-90 pb-3 px-5 m-0">  
                <div class="col-6 push-3 my-4"><%= image_tag("my_study.png", :class=>"review_write") %></div>
                <table class="table table-hover">
                      <% @studies.each do |study| %>
                        <% @applies.last(5).each do |apply| %>
                            <% if study.id == apply.study_id %>
                            
                                        <tr>
                                            <td class="table_hk"><%= link_to "/studies/show/#{study.id}", class: "my_2" do %><%= study.study_name %><% end %></td>
                                            <!-- 마감될 시 표시 추가 -->
                                        </tr>
                              
                            <% end %>
                        <% end %>
                    <% end %>
                  </table>    
            </div>
        </div>
    </div> <!-- 2 end -->

    <!-- 3 -->
    <div class="col-4">
        <div class="d-flex flex-column justify-content-between align-items-center mypage_box">

        <!-- 질문 --> 
            <div class="row mypage_content w-100 h-90 py-3 px-5 m-0">  
                <div class="col-6 push-3 my-4"><%= image_tag("my_question.png", :class=>"review_write") %></div>
                 
                <table class="table">
                <% current_user.qnas.last(7).each do |qna| %>
                    <tr>
                        <th><%= link_to "/qnas/show/#{qna.id}", class:"table_hk" do %><%= qna.title %><% end %></th>
                        <th><span class="badge badge-default badge-pill table_hk"><%= qna.qna_replies.count %></span></th>
                        <th><% if qna.choice == NIL %><i class="fa fa-square-o" aria-hidden="true"></i></i>
                               <% else %><i class="fa fa-check-square-o" aria-hidden="true"></i></i><% end %></th>
                    </tr>
                <% end %>
                </table>
          </div>   
        </div>   
    </div>  
         
</div> <!-- PC end -->    
            


<!-- *********** mobile *********** -->    
  <div class="container hidden-md-up">
    <!--<h1 class="col-12 jua my-3">나의 프로필</h1>-->

    <!-- 1 -->    


    <!-- 나의 정보 -->
    <div class="mypage_mobile text-align-center justify-content-center align-content-center">
        <div class="col-4 push-4 pt-3"><%= image_tag("logo.png", :class=>"review_write") %></div>
          <p class="jua my_e text_ah9"><%= current_user.email %></p>
          <div class="col-6 push-2 m-4"><%= image_tag("my_info.png", :class=>"review_write") %></div>
          <div class="col-10 push-1 mx-4 my-3">
              <table class="table">
                  <tr><td class="table_info">이  름 </td><td class="table_info"><%= current_user.name %></td></tr>
                  <tr><td class="table_info">닉네임 </td><td class="table_info"><%=current_user.nickname %></td></tr>
                  <tr><td class="table_info">생  일 </td><td class="table_info"><%=current_user.birthday %></td></tr>
                  <tr><td class="table_info">연락처 </td><td class="table_info"><%=current_user.phone %></td></tr>
                  <tr><td class="table_info">소  속 </td><td class="table_info"><%=current_user.part %></td></tr>
              </table>
        </div>
     </div>   <!-- 1 end-->

    <!-- 2 -->
    <!-- 후기 -->
    <div class="mypage_mobile text-align-center justify-content-center align-content-center">
          <div class="col-6 push-2 m-4"><%= image_tag("my_review.png", :class=>"review_write") %></div>
          <table class="table table-hover">
              <% current_user.reviews.last(5).each do |review| %>
              <tr>
                  <td class="table_hk"><%= link_to "/reviews/#{review.id}", class: "my_2" do%><%= review.title %><% end %></td>
              </tr>
              <% end %>
          </table>
    </div>
            
        <!-- 스터디 -->
    <div class="mypage_mobile text-align-center justify-content-center align-content-center">  
        <div class="col-6 push-2 m-4"><%= image_tag("my_study.png", :class=>"review_write") %></div>
        <table class="table table-hover">
              <% @studies.each do |study| %>
                <% @applies.last(5).each do |apply| %>
                    <% if study.id == apply.study_id %>
                    
                                <tr>
                                    <td class="table_hk"><%= link_to "/studies/show/#{study.id}", class: "my_2" do %><%= study.study_name %><% end %></td>
                                    <!-- 마감될 시 표시 추가 -->
                                </tr>
                      
                    <% end %>
                <% end %>
            <% end %>
          </table>    
      </div> <!-- 2 end -->

    <!-- 3 -->
    <div class="mypage_mobile text-align-center justify-content-center align-content-center">
   <!-- 질문 --> 
        <div class="row">  
            <div class="col-6 push-2 m-4"><%= image_tag("my_question.png", :class=>"review_write") %></div>
             
            <table class="table">
            <% current_user.qnas.last(7).each do |qna| %>
                <tr>
                    <th><%= link_to "/qnas/show/#{qna.id}", class:"table_hk" do %><%= qna.title %><% end %></th>
                    <th><span class="badge badge-default badge-pill table_hk"><%= qna.qna_replies.count %></span></th>
                    <th><% if qna.choice == NIL %><i class="fa fa-square-o" aria-hidden="true"></i></i>
                           <% else %><i class="fa fa-check-square-o" aria-hidden="true"></i></i><% end %></th>
                </tr>
            <% end %>
            </table>
      </div>   
  </div>   
         

</div><!-- mobile end -->    
            
      