  <div class="loginbody">
  
  
    <div class="hyomain">
      
      
        <div class="hyocontainer">
          <center>
    <div class="middle">
      <div id="login">
  

      
        <h2 style="font-weight: bold;">WAKE UP CO-IN</h2>
        
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <fieldset class="clearfix hyofieldset">
  
            <p class="hyoinput hyop"><span class="fa fa-user"></span>
            <%= f.input :email, required: false, autofocus: true, placeholder: "email" , label: false%>
            </p>
            
            <p class="hyoinput hyop"><span class="fa fa-lock"></span>
            <%= f.input :password, required: false, placeholder: "password" , label: false%>
            </p>
        
            <div class="hyo9">
  
              <%= f.button :submit, "Log in" %>
          
            </div>
            
            
            <div class="hyo9">
            
              <%= render "devise/shared/links" %>
          
            </div>
            
          <div class="form-actions">
            
              <!--<div>-->
              <!--  <span style="width:48%; text-align:left;  display: inline-block;">-->
              <!--    <a class="small-text" href="#">Forgot password?</a></span>-->
              <!--  <span style="width:50%; text-align:right;  display: inline-block;">-->
              <!--    <input type="submit" value="Sign In"></span>-->
              <!--</div>-->
  
              <% end %>
      
        </fieldset>          
      
        </div> <!--id:login-->
    
          <div class="clearfix"></div>
            <div class="clearfix"></div>
                <div class="logo"><%= image_tag("dead.png", size: "230x230", alt: "logo") %>
                  <div class="clearfix"></div>
                </div>
  
      
    </div>
      </div>
      </center>
    </div>
  </div>
    
        
        

</div>