<%= render 'nav'%>

<div class="container">
  
  <div class="col-3 pl-0">
     <div class="question_hk justify-content-center align-items-center mb-4">
         <h2 class="title_hk jua text_white_hk">오프라인 특강</h2>
     </div>
  </div>
   
     
    <div class="img_box">
        <%= image_tag("career_img.png", :class=>"career_top", :onclick=>"fnMove('1')") %>
      <%= image_tag("coding_img.png",  :class=>"coding_top", :onclick=>"fnMove('2')") %>
    </div>
    
     <div>
       <%= link_to "/offlines/career_new" do %> <%= image_tag("apply_blue.png", :class=>"career_apply") %><% end %>
         <%= link_to "/offlines/coding_new" do %> <%= image_tag("apply_red.png",  :class=>"coding_apply")%> <%end%>
    </div>
    
    

    <div id="div1">
        <div class="blank"></div>
        <div class="career_intro"></div>
    </div>
    
    <div id="div2">
        <div class="blank"></div>
        <div class="coding_intro"></div>
    </div>

</div>