<style>
    
.career_intro{
    background-image: url(<%= asset_path 'o1.JPG' %>);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

.coding_intro{
    background-image: url(<%= asset_path 'o2.JPG' %>);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

</style>


<%= render 'nav'%>
<div class="container minheight">
  <div class="offline_page">
     <div class="row hidden-sm-down">
              <div class="col-md-3 col-5 ">
                 <div class="question_hk justify-content-center align-items-center mb-4">
                     <h2 class="title_review jua text_white_hk">오 프 라 인  특 강</h2>
                 </div>
               </div>
     </div>
    <div class="row justify-content-center no-gutters"><!--
            --><div class="col-6 "><%=image_tag("career_img.png", :class=>"off_top_hk img-fluid", :onclick=>"fnMove('1')") %></div><!--
           --><div class="col-6 for_b"><%=image_tag("coding_img.png",  :class=>"off_top_hk img-fluid", :onclick=>"fnMove('2')") %></div><!--
    --></div>
    
    <div class="row justify-content-center no-gutters">
        
       <% if current_user.nil? %>  
             <div class="col-6 px-0 mx-0">
                <%= link_to "/offlines/index" , :onclick => "myFunction()" do %> <%= image_tag("apply_blue.png", :class=>"img-fluid") %><%end%>
             </div>
              <div class="col-6 px-0 for_b">
                <%= link_to "/offlines/index" , :onclick => "myFunction()" do %> <%= image_tag("apply_red.png",  :class=>"img-fluid")%> <%end%>
             </div>
        <%else %>
            <div class="col-6 px-0 mx-0">
                <%= link_to "/offlines/career_new" do %> <%= image_tag("apply_blue.png", :class=>"img-fluid") %><%end%>
             </div>
              <div class="col-6 px-0 for_b">
                <%= link_to "/offlines/coding_new" do %> <%= image_tag("apply_red.png",  :class=>"img-fluid")%> <%end%>
             </div>
        <%end%>
        
        
     </div>
  </div>    
    


  <div id="div1" class="offline_page">
        <div class="blank hidden-sm-down"></div>
        <div class="career_intro hidden-sm-down"></div>
        <div class="row no-gutters">
        <div class="col-12 hidden-md-up pt-5"><%= image_tag("o1m.PNG",  :class=>"review_write")%> </div>    
        </div>
        
    </div>
    
  <div id="div2" class="offline_page ">
        <div class="blank hidden-sm-down"></div>
        <div class="coding_intro hidden-sm-down"></div>
        <div class="row no-gutters">
            <div class="col-12 hidden-md-up pt-5"><%= image_tag("o2m.PNG",  :class=>"review_write")%> </div>    
        </div>
    </div>

</div>

<script>
function myFunction() {
    alert("로그인 해주세요.");
}
</script>
