<%=render 'nav'%>
<div class="margin"></div>

<div class="container" >
    <div class="mb-3">
    <%= link_to "/mains/intro" do %><%= image_tag("background.png", :class=>"mainbox_top") %><% end %>
    </div>
    <div >
          <%= link_to "/qnas/index" do %><%= image_tag("1.png", :class=>" mainbox_title") %><% end %>
         <%= link_to "/offlines/index" do %><%= image_tag("2.png", :class=>" mainbox_title") %><% end %>
         <%= link_to "/reviews" do %><%= image_tag("3.png", :class=>" mainbox_title") %><% end %>
         <%= link_to "#" do %><%= image_tag("4.png", :class=>" mainbox_title") %><% end %> 
    </div>
  
</div>