<%=render 'nav'%>

<div class="container minheight">
    <div class="review_intro_hs">
        <h1 class="jua">코인 그 후의 이야기를 들려주세요.</h1>
    </div>


    <div class="qna_form center_hs">
    <%= form_tag "/reviews/#{@review.id}", method: 'patch' do %>
    
        <p class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
        <label for="title"><span>제 목</span></label>
        <%= text_field_tag 'title', @review.title, class:'form-control'%>
        </p>
        
        <p class="form-group row justify-content-center ">
      
            <div class="flex_hyo9 col-md-5 push-md-3  col-sm-12 mb-3">
                <label for="category">카테고리</label>
            </div>  
        
        <div class="flex_hyo9 col-md-5 pull-md-1 col-sm-12 mb-3">
        
             <% if(@review.category=="career")   %>
             <div class="mr-1">     
                  <%= radio_button_tag(:category, "career", true) %>
                  <%= label_tag(:category_career, "진로") %>
               </div>
             
             <% else %>
             <div class="mr-1">     
        
                  <%= radio_button_tag(:category, "career") %>
                  <%= label_tag(:category_career, "진로") %>
              </div>
            <% end %>
        
            <% if(@review.category=="coding")   %>

             <div class="ml-1">
                <%= radio_button_tag(:category, "coding", true) %>
                <%= label_tag(:category_coding, "코딩") %>
            </div>
             <% else %>
             
             <div class="ml-1">
                    <%= radio_button_tag(:category, "coding") %>
                    <%= label_tag(:category_coding, "코딩") %>
              </div>        
            <% end %>


        </div>    



        </span>
        </p>
        
        <p class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
        <label for="team_name"><span>학 교</span></label>
        <%= text_field_tag 'team_name', @review.team_name, class:'form-control' %>
        </p>
        
        <p class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
        <label for="content"><span>내 용</span></label>
        <%= text_area_tag 'content', @review.content, class:'form-control', rows: "10vh" %>
        </p>
        
        <p class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
    
            <% if (@review.secret == "true")   %>
                 <input type="checkbox" name="secret" id="secret" value="true" checked="true">
                 <label for="secret">비밀글</label>
            <% else %>
                 <input type="checkbox" name="secret" id="secret" value="true" checked="false">
                 <label for="secret">비밀글</label>
            <% end %>
            
   
         <span>(비밀글 선택 시 작성자만 내용과 답변을 확인할 수 있습니다.)</span></p>
    
        <div class="form-group col-md-8 push-md-2 col-sm-10 push-sm-1 mb-5 ">
        <%= submit_tag '', class: "submit_hs" %>
        <%= link_to '','/reviews' , class: "back_hs" %> 
        </div>
        
    <% end %>
    </div>
 
</div>






