<%=render 'nav'%>

<div class="container">
    <div class="review_intro_hs">
        <h1 class="jua">코인 그 후의 이야기를 들려주세요.</h1>
        <br>
        <p>수 정</p>
    </div>
    
    <div class="new_hyun">
    <%= form_tag "/reviews/#{@review.id}", method: 'patch' do %>
    
        <p class="new_form">
        <label for="title"><span>제 목</span></label>
        <%= text_field_tag 'title', @review.title, size: 100 %>
        </p>
        
        <p class="new_form">
        <label for="category"><span>카테고리</span></label>
        <span class="radio_inline">
             <% if(@review.category=="career")   %>
                  <%= radio_button_tag(:category, "career", true) %>
                  <%= label_tag(:category_career, "진로") %>
             <% else %>
                  <%= radio_button_tag(:category, "career") %>
                  <%= label_tag(:category_career, "진로") %>
            <% end %>
        
            <% if(@review.category=="coding")   %>
                <%= radio_button_tag(:category, "coding", true) %>
                <%= label_tag(:category_coding, "코딩") %>
             <% else %>
                    <%= radio_button_tag(:category, "coding") %>
                    <%= label_tag(:category_coding, "코딩") %>
            <% end %>

        </span>
        </p>
        
        <p class="new_form">
        <label for="team_name"><span>학 교</span></label>
        <%= text_field_tag 'team_name', @review.team_name, size: 100 %>
        </p>
        
        <p class="new_form">
        <label for="content"><span>내 용</span></label>
        <%= text_area_tag 'content', @review.content, cols: 100, rows: 15 %>
        </p>
        
        <p class="new_form">
    
            <% if (@review.secret == "true")   %>
                 <input type="checkbox" name="secret" id="secret" value="true" checked="true">
                 <label for="secret">비밀글</label>
            <% else %>
                 <input type="checkbox" name="secret" id="secret" value="true" checked="false">
                 <label for="secret">비밀글</label>
            <% end %>
            
   
         <span>(비밀글 선택 시 작성자만 내용과 답변을 확인할 수 있습니다.)</span></p>
    
        <div class="new_form form_margin_hs">
        <%= submit_tag '', class: "submit_hs" %>
        <%= link_to '','/reviews' , class: "back_hs" %> 
        </div>
        
    <% end %>
    </div>
 
</div>






