<%=render 'nav'%>
    <div class="container">
  <div class="col-3 pl-0">
     <div class="question_hk justify-content-center align-items-center mb-4">
         <h2 class="title_hk jua text_white_hk">특강 후기</h2>
     </div>
  </div>

  <div class="row">
    <div class="col-12">
     <p class="review_info_hk">코인을 만나고 난 후의 이야기를 들려주세요.</p>
      <p class="review_info_hk">익명 게시판이니 자유롭게 궁금한 내용을 질문하거나 전하고 싶은 후기를 남겨주세요.</p>
      <p class="jua qna_intro_coin_hs">
                    :코-인</p>
                    <hr style="border: solid 1px #D5D5D5;">  
    </div>
  </div>
  
                <div >
                    <ul class="nav nav-tabs">
                        <li ><a class="review_button_hk" href = "/reviews">전체</a></li>
                        <li ><a class="review_button_hk" href = "/reviews/teacher">공지</a></li>
                        <li class="active"><a class="review_button_hk" href = "/reviews/review_career">진로</a></li>
                        <li><a class="review_button_hk" href = "/reviews/review_coding">코딩</a></li>
                     
                    </ul>
                </div>
                 
        <div class="row">
             <div class="col-9">
                <div class="justify-content-center">
                    <table class = "table table-hover">
                        <tr>
                        <!--<th>제목</th>-->
                        <!--<th>날짜</th>-->
                        </tr>
                        
                        <% @reviews.each do |review| %>
                        <tr>
                        <td class="table_hk">
                            <% if review.secret == true %>
                                <span><%= image_tag("lock.png", size: "10") %></span>
                                <%= link_to "/reviews/#{review.id}", class: "review_table_hk" do%><%= review.title %><%end%>
                            <% elsif review.user_id == 1 %>
                                <span><%= image_tag("teacher_icon.png", size: "12") %></span>
                                <%= link_to "/reviews/#{review.id}", class: "review_table_hk" do%><%= review.title %><%end%>
                            <% else %>
                                <%= link_to "/reviews/#{review.id}", class: "review_table_hk" do%><%= review.title %><%end%>   
                            <% end %>
                        </td>
                        <!--<td>-->
                        <!--   <#%= review.created_at.split(' ').first %>-->
                        <!--</td>-->
                        </tr>
                        <% end %>
                        </table>
                    </div>
                  </div>  
                     <div class="col-3">
                          <%= link_to "/reviews/new" do %> <%= image_tag("review_write.png", :class=>"review_write") %> <% end %>
                      </div>
        </div>    
   
     <%= will_paginate @reviews %>
</div> <!-- 컨테이너 디브 -->