<%=render 'nav'%>

<div class="container">
          <h2 class="jua offline_apply_hs center_hs">후기 보기</h2>


<% if @review.user.id == "1" %>
    
         <div class="row qna_title_box_hk">
                <div class="col-11 qna_title_btn_hk"><p class="review_title_y">| <%= @review.title %></p></div>
                <div class="col-1 text-uppercase qna_category_hk"><strong style="m-0 p-0"><%= @review.category %></strong></div>
         </div>    
        <hr>
        <p> <%=simple_format(@review.content )%></p>
        <%= link_to "/reviews/#{@review.id}/edit" do%>edit<%end%>
        <%= link_to "/reviews", class: "back_gray_hs" do %><%end%>

        <%= render 'replylist' %>

<% elsif @review.user == current_user %>

         <div class="row qna_title_box_hk">
                <div class="col-11 qna_title_btn_hk"><p class="review_title_y">| <%= @review.title %></p></div>
                <div class="col-1 text-uppercase qna_category_hk"><strong style="m-0 p-0"><%= @review.category %></strong></div>
         </div>   
         <hr>
            <p> <%=simple_format(@review.content )%></p>
            
            
        <%= link_to "/reviews/#{@review.id}/edit", class: "edit_hs" do %><%end%>
        <%= link_to "/reviews/#{@review.id}", method: :delete, class: "delete_hs", data: { confirm: "삭제합니까?" } do %><%end%>
        <%= link_to "/reviews", class: "back_gray_hs" do %><%end%>
        
        <%= render 'replylist'%>
        
<% else %>
        
        <% if @review.secret == true %>
         <div class="row qna_title_box_hk">
                <div class="col-11 qna_title_btn_hk"><p class="review_title_y">| <%= @review.title %></p></div>
                <div class="col-1 text-uppercase qna_category_hk"><strong style="m-0 p-0"><%= @review.category %></strong></div>
         </div>    
        <hr>
        <p class="review_secret">비밀글입니다.</p>
  
        <% else %>
        
              <div class="row qna_title_box_hk">
                        <div class="col-11 qna_title_btn_hk"><p class="review_title_y">| <%= @review.title %></p></div>
                        <div class="col-1 text-uppercase qna_category_hk"><strong style="m-0 p-0"><%= @review.category %></strong></div>
                 </div>    
                <hr>
            <p> <%=simple_format(@review.content )%></p>
        <%= link_to "/reviews", class: "back_gray_hs" do %><%end%>

                    <%= render 'replylist' %>

            <%#= render 'replylist', post: @review %>    
        <% end %>
            
<% end %>

</div>