<%=render 'nav'%>

<div class="container">
    <div class="col-12">
         <h2 class="jua offline_apply_hs center_hs">후기 보기</h2>
    </div>
     <div class="row">
            <div class="col-md-11 hidden-sm-down qna_title_btn_hk"><p class="review_title_y">| "<%= @review.title %> "</p></div>
            <div class="col-md-1 hidden-sm-down text-uppercase qna_category_hk "><strong><%= @review.category %></strong></div>
            <div class="col-12 hidden-md-up qna_title_btn_hk"><p class="review_title_y_m">| "<%= @review.title %> "</p></div> 
     </div> 
     <hr>
<% if current_user.id == 1 %>
        <div class="mt-10 mb-10"><p class="review_font mt-10 mb-10"> <%= simple_format(@review.content, class: "review_font") %></p></div>
        <%= render 'revbut' %>
        <%= render 'replylist' %>
       
<% elsif @review.user == current_user %>
        <div class="mt-10 mb-10"><p class="review_font mt-10 mb-10"> <%=simple_format( @review.content, class: "review_font" )%></p></div>
        <%= render 'revbut' %>
        <%= render 'replylist'%>     

<% else %>
        
            <% if @review.secret == true %>
                <div class="center_hs">
                    <div class="lock"></div>
                    <p class="review_secret jua">비밀글입니다 :)</p>
                </div>
                       
               <div class="row hidden-sm-down">
                   <div class="col-1 pr-1"><%= link_to "/reviews", class: "index_hs" do %><%= image_tag('index_gray.png', class: "img-fluid button-img") %><%end%></div>
               </div>
               <div class="row hidden-md-up no-gutters">
                   <div class="col-2"><%= link_to "/reviews", class: "index_hs" do %><%= image_tag('index_gray.png', class: "img-fluid button-img") %><%end%></div>
               </div>
              
            <% else %>
        
                <div class="mt-10 mb-10"><p class="review_font"> <%=simple_format(@review.content, class: "review_font" )%></p></div>
                   <div class="row hidden-sm-down">
                       <div class="col-1 pr-1"><%= link_to "/reviews", class: "index_hs" do %><%= image_tag('index_gray.png', class: "img-fluid button-img") %><%end%></div>
                   </div>
                   <div class="row hidden-md-up no-gutters">
                       <div class="col-2"><%= link_to "/reviews", class: "index_hs" do %><%= image_tag('index_gray.png', class: "img-fluid button-img") %><%end%></div>
                   </div>
              
                <%= render 'replylist' %>

            <% end %>
            
<% end %>

</div>