<!DOCTYPE html>
<html>
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <link href="https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM_JUA.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/scss" href="posts.scss">
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= favicon_link_tag 'favicon.ico' %>
    
    <title lang = "ko">코인 - 코딩 문턱 낮춤 서비스</title>
  
    <!-- Latest compiled and minified CSS -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
  
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


  <style>
    .text-danger{
      color: #e8464e !important;  
      /*배경에 있는 붉은색*/
    }
    .bg-danger{
       background-color: #e8464e !important;  
    }
    .text-info{
      color: #8acbc1 !important; 
      /*모니터 속 민트색*/
    }
   .bg-info{
       background-color: #8acbc1 !important;  
    }
    .text-muted{
       color: #ABABAB !important; 
    }
    .bg-muted{
       background-color: #ABABAB !important;  
    }
    .text-muted:hover{
      color: #ABABAB !important;
      text-decoration: none !important;
    }
    a.text-muted:hover{
      color: #ABABAB !important;
      background: transparent;
      /*회색 hover 금지*/
    }
    a.text-info:hover{
      color: #8acbc1 !important;
      background: transparent;
      /*민트색 hover 금지*/
    }
    a.text-danger:hover{
      color: #e8464e !important;
      background: transparent;
      /*빨간색 hover 금지*/
    }
    
    
    /*background image*/

/* application.scss */
.submit_hs{
    background-image: url(<%= asset_path 'submit.png' %>);
    width: 80px;
    height: 40px;
    border: none;
    margin: 0;
    padding: 0;
    background-size: 100%;
    border-radius: 10px;
}

.submit_small_hs{
    background-image: url(<%= asset_path 'submit.png' %>);
    width: 60px;
    height: 30px;
    border: none;
    margin: 0;
    padding: 0;
    background-size: 100%;
    border-radius: 10px;
}

.back_hs{
    background-image: url(<%= asset_path 'back.png' %>);
    width: 80px;
    height: 40px;
    background-size: 100%;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

.save_hs{
    background-image: url(<%= asset_path 'save.png' %>);
    width: 80px;
    height: 40px;
    background-size: 100%;
    border: none;
    border-radius: 10px;
    // display: inline-block;
}


.choice_hs{
    background-image: url(<%= asset_path 'choice.png' %>);
    width: 60px;
    height: 30px;
    background-size: 100%;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

.back_gray_hs{
    background-image: url(<%= asset_path 'back_gray.png' %>);
    width: 60px;
    height: 30px;
    background-size: 100%;
    border: none;
    border-radius: 10px;
    display: inline-block;
}


/* qnas.scss */

.edit_hs{
    background-image: url(<%= asset_path 'edit.png' %>);
    width: 60px;
    height: 30px;
    background-size: 100%;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

.delete_hs{
    background-image: url(<%= asset_path 'delete.png' %>);
    width: 60px;
    height: 30px;
    background-size: 100%;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

/* reviews.scss */

.lock{
    background-image: url(<%= asset_path 'lock.png' %>);
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 140px;
    background-size: 100%;
    border: none;
    margin-top: 50px;
}

.review_intro{
  height: 80px;
  background-image: url(<%= asset_path 'review_back.png' %>);
  background-size: cover;
  *{
    color: rgba(213,213,213,0.8);
    font-size: 1.1em;
  }
}


/* studies.scss */

.study_index_intro1 {
  width: auto;
  height: 30vh;
  background-image: url(<%= asset_path 'studies_index_web_1.png' %>);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.study_index_intro2 {
  width: auto;
  height: 30vh;
  background-image: url(<%= asset_path 'studies_index_web_2.png' %>);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.study_index_intro3 {
  width: auto;
  height: 30vh;
  background-image: url(<%= asset_path 'studies_index_web_3.png' %>);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.study_index_intro4 {
  width: auto;
  height: 30vh;
  background-image: url(<%= asset_path 'studies_index_web_4.png' %>);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.study_index_intro5 {
  width: auto;
  height: 30vh;
  background-image: url(<%= asset_path 'studies_index_web_5.png' %>);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.study_index_intro6 {
  width: auto;
  height: 30vh;
  background-image: url(<%= asset_path 'studies_index_web_6.png' %>);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.study_index_intro7 {
  width: auto;
  height: 30vh;
  background-image: url(<%= asset_path 'studies_index_web_7.png' %>);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.study_show_intro1 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_1.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro2 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_2.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro3 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_3.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro4 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_4.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro5 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_5.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro6 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_6.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro7 {
  height: 400px;
  background-image: url(<%= asset_path 'studies_show_7.png' %>);
  background-size: cover;
  width: 100%; }

.study_show_intro1_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_1.png' %>);
  background-size: cover; }

.study_show_intro2_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_2.png' %>);
  background-size: cover; }

.study_show_intro3_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_3.png' %>);
  background-size: cover; }

.study_show_intro4_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_4.png' %>);
  background-size: cover; }

.study_show_intro5_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_5.png' %>);
  background-size: cover; }

.study_show_intro6_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_6.png' %>);
  background-size: cover; }

.study_show_intro7_m {
  width: 100%;
  background-image: url(<%= asset_path 'studies_show_7.png' %>);
  background-size: cover; }

.img_upload {
  background-image: url(<%= asset_path 'upload_btn.png' %>);
  width: 80px;
  height: 40px;
  border: none;
  margin-top: 10px;
  padding: 0;
  background-size: 100%;
  border-radius: 10px; }
  
  /* suggests.scss */
  .suggest_intro{
  height: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(<%= asset_path 'suggest_back.png' %>);
  background-size: cover;
  *{
    color: rgba(213,213,213,0.8);
    font-size: 1.1em;
  }
}
  


  </style>
</head>

<body class="-ms-overflow-style: none;">
<div id="wrapper"><div id="container"><%= yield %></div>
    
    
    
    <div id="footer footer_flex_hyo9 mb-2">
     <div class="hyo9_div mb-2"> </div>
       <p class="jua footer_center_hyo9" style="margin-bottom: 0;">코인 : 코딩하는 사람들</p>
	     <p class="copyright footer_center_hyo9" style="margin-bottom: 0;">COPYRIGHT ©GOODBOB ALL RIGHTS RESERVED</p>
    </div>
  </div>


</body>

</html>

